.visualizacaoContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.conteudo {
  flex: 1;
  margin-right: 20px;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.titulo {
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

.descricao {
  white-space: pre-wrap;
  margin-top: 10px;
  color: #666;
}

.sidebar {
  width: 200px;
  background-color: #999;
  border-radius: 12px;
  padding: 15px;
  color: #fff;
  text-align: center;
}

.grupoImg {
  width: 100%;
  height: auto;
  background: #ccc;
  margin-bottom: 10px;
  border-radius: 8px;
}

.grupoNome {
  font-size: 20px;
  margin: 10px 0;
}

.grupoBtn {
  display: block;
  width: 100%;
  margin: 5px 0;
  padding: 8px;
  background-color: #ddd;
  color: #000;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.grupoRodape {
  margin-top: 10px;
  font-size: 14px;
}
